.rodape {
    width: 100%;
    height: calc(5vh - 0.5rem);
    margin-top: 0.25rem;
    border-radius: var(--bordaRaio);
    background-color: var(--altColor);
    display: flex;
    align-items: center;
    justify-content: center;
}