<section class="cabecalho">
    <div class="cabecalho__titulo">
        <h1 class="cabecalho__titulo__titulo">João - Página de Treinamento - Angular</h1>
    </div>
    <nav class="cabecalho__menu">
        <p class="cabecalho__menu__item">Início</p>
        <p routerLink="/tabela" class="cabecalho__menu__item">Tabela</p>
        <p class="cabecalho__menu__item">Projetos</p>
        <p class="cabecalho__menu__item">Repositórios</p>
    </nav>
</section>

<section class="principal">
    <section class="principal__conteudo">
        <h1 class="principal__conteudo__texto">Responsividade em Páginas Web</h1>
        <p class="principal__conteudo__texto">Ao desenvolver páginas da internet, uma boa prática é ajustar os elementos
            para que se ajustem a diferentes tamanhos de tela, seja com o uso de unidades relativas ou até com a
            alteração do layout da página para exibição em telas mais estreitas.</p>
        <p class="principal__conteudo__texto">Todas as configurações de ajuste da página podem ser feitas em CSS, e
            alteradas dinamicamente em determinadas situações com o auxílio de Javascript. Contudo, o próprio CSS nos
            permite criar estilizações de página excelentes.</p>
    </section>
</section>

<section class="rodape">
    <section class="rodape__conteudo">
        <p>João Emanoel Rodrigues Mota</p>
    </section>
</section>