<section class="principal">
    <section class="principal__conteudo">
        <h1 class="principal__conteudo__texto">Responsividade em Páginas Web</h1>
        <p class="principal__conteudo__texto">Ao desenvolver páginas da internet, uma boa prática é ajustar os elementos
            para que se ajustem a diferentes tamanhos de tela, seja com o uso de unidades relativas ou até com a
            alteração do layout da página para exibição em telas mais estreitas.</p>
        <p class="principal__conteudo__texto">Todas as configurações de ajuste da página podem ser feitas em CSS, e
            alteradas dinamicamente em determinadas situações com o auxílio de Javascript. Contudo, o próprio CSS nos
            permite criar estilizações de página excelentes.</p>
    </section>
</section>