<section class="cabecalho">
    <h1 class="cabecalho__titulo">Tabela de Estoque</h1>
    <nav class="cabecalho__menu">
        <p routerLink="/formulario" class="cabecalho__menu__botao" id="novo">Adicionar Novo Item</p>
        <p class="cabecalho__menu__botao" id="ver">Ver Tabela</p>
        <p class="cabecalho__menu__botao" id="apagar">Apagar Tudo</p>
        <p routerLink="/start" class="cabecalho__menu__botao" id="voltar">Voltar</p>
    </nav>
</section>
<section class="principal">
    <section class="tabela">
        <div class="linha">
            <span class="celula">Produto</span>
            <span class="celula">Quantidade</span>
            <span class="celula">Medida</span>
        </div>
        @for (item of itens; track item) {
            <app-linha [item]="item"></app-linha>
        }
    </section>
</section>